/* Tuỳ chọn: logo nhỏ gọn hơn ở mobile */
/* Toàn bộ scrollbar */
.transition-fade { opacity: 1; transition: opacity .3s ease; }
html.is-leaving .transition-fade { opacity: 0; }

/* html.is-animating .transition-fade { opacity: .6; transition: opacity .25s ease; }
html.is-leaving   .transition-fade { opacity: 0;   } */

/* Hiệu ứng lần đầu vào trang */
html.preload .transition-fade { 
  opacity: 0;                /* bắt đầu mờ */
  transition: opacity .35s;  /* thời gian bạn muốn */
}
html.preload.done .transition-fade {
  opacity: 1;                /* fade-in lên */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to   { opacity: 1; transform: translateY(0); }
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 0px; /* độ rộng */
}


h1, h2, h3, h4, h5, h6 {
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
  font-weight: var( --e-global-typography-primary-font-weight );
}
p, li, a, span, div {
  font-weight: var(--e-global-typography-text-font-family), Sans-serif;
  font-family: var(--e-global-typography-text-font-weight);
}
/* .navbar .nav-caret {
  line-height: 1;
  border: 0;
  background: transparent;
} */
/* Tăng clickable area cho nút menu */
#vgtechMenuModal .modal-body a {
	text-decoration: none;
}

#vgtechMenuModal.modal.fade .modal-dialog {
  transition: transform .3s ease-out;
  transform: translate(0, -50px);
}
#vgtechMenuModal.modal.show .modal-dialog {
  transform: none;
}

#vgtechMenuModal .modal-content{
  position: relative;
  background: linear-gradient(to right, #1b104f 50%, #703a87);
}

.vgtech-theme-close{
  position: absolute;
  bottom: 5%;
  line-height: .8;
  align-items: center;
  width: 45px !important;
  height: 45px !important;
  padding: 10px !important;
  background-color: transparent !important;
  color: var(--e-global-color-primary) !important;
}
